-content_for :title do
  MaidPro Boston
.gridster
  %ul
    %li{"data-col" => "1", "data-row" => "1", "data-sizex" => "4", "data-sizey" => "1"}
      %div{style: "background-image: url('assets/maidpro.png'); background-position: center; min-height: 335px;"}
%div{"data-id" => "reload", "data-title" => "Reload", "data-view" => "Reload", :style => "display: none"}
