:javascript
  $(function() {
    Dashing.widget_base_dimensions = [405, 168]
  });
-content_for :title do
  MaidPro Boston
.gridster
  %ul
    %li{"data-col" => "1", "data-row" => "1", "data-sizex" => "4", "data-sizey" => "1"}
      %div{style: "background-image: url('assets/maidpro2.png'); background-position: center; min-height: 168px;"}
    %li{"data-col" => "1", "data-row" => "2", "data-sizex" => "1", "data-sizey" => "4"}
      %div{"data-id" => "employee_loss", "data-title" => "Employee Loss", "data-view" => "List", style: "background-color: #B58900;"}
%div{"data-id" => "reload", "data-title" => "Reload", "data-view" => "Reload", :style => "display: none"}
