:javascript
  $(function() {
    Dashing.widget_base_dimensions = [405, 168]
  });
-content_for :title do
  MaidPro Boston
.gridster
  %ul
    %li{"data-col" => "1", "data-row" => "1", "data-sizex" => "4", "data-sizey" => "1"}
      %div{style: "background-image: url('assets/maidpro2.png'); background-position: center; min-height: 168px;"}
    %li{"data-col" => "1", "data-row" => "2", "data-sizex" => "1", "data-sizey" => "4"}
      %div{"data-id" => "employee_loss", "data-title" => "Employee Loss", "data-view" => "List", style: "background-color: #b58900;"}
    %li{"data-col" => "2", "data-row" => "2", "data-sizex" => "1", "data-sizey" => "2"}
      %div{"data-id" => "message", "data-title" => "Latest Message", "data-view" => "Text", style: "background-color: #6c71c4;"}
    %li{"data-col" => "2", "data-row" => "4", "data-sizex" => "3", "data-sizey" => "2"}
      %div{"data-id" => "pro_feedback", "data-title" => "Employee Feedback", "data-view" => "Comments", style: "background-color:  #2aa198;"}
    %li{"data-col" => "1", "data-row" => "2", "data-sizex" => "2", "data-sizey" => "2"}
      %div{"data-id" => "special_days", "data-title" => "Special Days", "data-view" => "List", style: "background-color: #859900;"}
%div{"data-id" => "reload", "data-title" => "Reload", "data-view" => "Reload", :style => "display: none"}
