:javascript
  $(function() {
    Dashing.widget_base_dimensions = [370, 340]
  });
-content_for :title do
  MaidPro NSC
.gridster
  %ul
    %li{"data-col" => "1", "data-row" => "1", "data-sizex" => "4", "data-sizey" => "1"}
      %div{style: "background-image: url('assets/maidpro.png'); background-position: center; min-height: 340px;"}
    %li{"data-col" => "1", "data-row" => "2", "data-sizex" => "1", "data-sizey" => "2"}
      %div{"data-id" => "closing", "data-title" => "Closing %", "data-unordered" => "true", "data-view" => "List"}
    %li{"data-col" => "2", "data-row" => "2", "data-sizex" => "1", "data-sizey" => "2"}
      %div{"data-id" => "closing_recurring", "data-title" => "Closing % Recurring", "data-unordered" => "true", "data-view" => "List", style: "background-color: #d33682;"}
    %li{"data-col" => "3", "data-row" => "2", "data-sizex" => "2", "data-sizey" => "2"}
      %div{"data-id" => "closing_recurring_total", "data-title" => "Total Recurring Clients This Month", "data-view" => "Number"}
%div{"data-id" => "reload", "data-title" => "Reload", "data-view" => "Reload", :style => "display: none"}

