-content_for :title do
  MaidPro NSC Dashboard
.gridster
  %ul
    %li{"data-col" => "1", "data-row" => "1", "data-sizex" => "2", "data-sizey" => "1"}
      %div{"data-id" => "welcome", "data-moreinfo" => "Protip: You can drag the widgets around!", "data-text" => "This is your shiny new dashboard.", "data-title" => "Welcome to the NSC", "data-view" => "Text"}
    %li{"data-col" => "3", "data-row" => "1", "data-sizex" => "1", "data-sizey" => "1"}
      %div{"data-id" => "clock", "data-view" => "Clock"}
    %li{"data-col" => "1", "data-row" => "2", "data-sizex" => "2", "data-sizey" => "1"}
      %div{"data-id" => "twitter_mentions", "data-view" => "Comments"}
    %li{"data-col" => "3", "data-row" => "2", "data-sizex" => "1", "data-sizey" => "1"}
      %div{"data-id" => "klimato", "data-view" => "Klimato"}
  %center
    %div{:style => "font-size: 12px"}
      Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' \http://#{request.host}:#{request.port}/widgets/welcome
