-content_for :title do
  MaidPro Dashboard Select
%div{style: "margin: auto; width: 1480px;"}
  %div{style: "background-image: url('assets/maidpro.png'); background-position: center; min-height: 340px;"}
  %a{href: "/homeoffice"}
    %div{style: "background-color: #b58900; margin-top: 0.5em; height: 170px;"}
      %h1{style: "padding-top: 2em;"}Home Office
  %a{href: "/nsc"}
    %div{style: "background-color: #6c71c4; margin-top: 0.5em; height: 170px;"}
      %h1{style: "padding-top: 2em;"}National Sales Center
